
 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(4, 4, 4);
    font-size: 18px;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.search-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.search-bar {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-btn {
    padding: 8px 15px;
    background-color: #f39c12;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
}

.search-btn:hover {
    background-color: #e67e22;
}
