<div class="video-container12">
    <video id="video-player" class="video-element">
        <source src="{{movie.video.url}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="controls12">
        <button id="rewind" class="control-btn12">⏪</button>
        <button id="play-pause" class="control-btn12">⏯</button>
        <button id="forward" class="control-btn12">⏩</button>
        <input type="range" id="seek-bar" value="0" class="seek-bar">
        <button id="mute-unmute" class="control-btn12">🔊</button>
        <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1" class="volume-bar12">
    </div>
</div>