<!-- 
  
        {% for con in content  %}
        <!-- <video width="auto" height="auto" autoplay muted>
            <source src="{{con.video.url}}" type="video/mp4">
  
          Your browser does not support the video tag.
          </video>  -->
  
<!--     
            <div class="movie-card" style="margin-bottom: 20px; margin-top: 20px; ">
              {% if con.background_image %}
              <img src="{{con.background_image.url}}" alt="Movie Image" class="movie-image" sty>
              <h3 class="movie-title" text-decoration: none;
  color: black;
  margin-left: 30px;
  font-size: 20px;>{{con.title}}</h3>


                

  <p class="movie-rating">Rating: ★★★★☆</p>
              <div class="card-buttons">
                  <button class="visit-btn"><a href="">Visit</a></button>
                  <button class="watch-btn">Watch</button>
              </div>
          </div>
          {% endif %} -->
        


        {% endfor %} -->

