{% extends 'base.html' %}
{% load cinema_tags %}

{% block content %}
    

    
<div class="movie-details-container" >
    <div class="movie-header">
        <img src="{{ movie.background_image.url}}" alt="Movie Image" class="movie-image">
        <div class="movie-info">
            <h1 class="movie-title">{{movie.title}}</h1>
            <p class="movie-genre"><strong>Жанры:</strong>{% genre_filter movie_id=movie.title %}</p>
            <p class="movie-release"><strong>Дата выпуска:</strong> {{movie.date}}</p>
        </div>
    </div>

    <div class="movie-description">
        <h2>Информация</h2>
        <p>{{movie.info}}</p>
    </div>

    <div class="movie-cast">
        <h2>Актеры</h2>
        <ul class="cast-list">
            {% movie_actores movie_id=movie.id as actores  %}
            <ul>
    
                {% include 'components/header/genre_show_view.html' %}
                    
            </ul>
            
                
        </ul>
    </div>
    {% if not request.user.is_authenticated %}
    <h1 style="margin: 30%;">Видео можете посмотреть только после регистрации или войти</h1>
    {% else %}
    {% include 'components/header/show_movie.html' %}     
    {% endif %}
        
</div>
{% endblock content %}